html {
    box-sizing: border-box;
}

body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    text-align: center;
}


h1 {
    display: inline-block;
    text-align: center;
    font-weight: 400;
    margin: 0 0 0 0.5em;
    width: 100%;
}

h2 {
  display: inline-block;
  text-align: center;
  font-weight: 400;
  margin: 0 0 0 0.5em;
  width: 100%;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    margin: 0 0 0 0.5em;
    width: 100%;
}

.header {
    background: #4caf50;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 0.5em 1em;
}
